@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.main {
    text-align: center;
    border: solid #2563EB 2px;
    padding-bottom: 50px;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.h1 {
    font-size: 1.7rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

.li {
    border: darkgray 1px solid;
    margin-left: 170px;
    margin-right: 170px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    box-shadow: 0 1px 4px darkgray;
    border-radius: 5px;
}
.li:hover {
    background-color: #2564eb6b;
    border: #2564eb6b solid 0px;
    box-shadow: 0 0px 0px darkgray;
    border-radius: 5px;
}

.span {
    color: darkgray;
}

/* The Subjunctive Mood */

.article1 {
    border: solid #2563EB 2px;
    margin-left: 260px;
    margin-right: 260px;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
    border-radius: 10px;
}

.firstcontent {
    text-align: center;
    margin-top: 25px;
}

.text1 {
    font-size: 1.5rem;
}

.text2 {
    font-style: italic;
    color: darkgray;
}

.secondcontent {
    margin-top: 25px;
}

.thirdcontent {
    margin-top: 20px;
}

.highlight1 {
    border: darkgray 2px solid;
    background-color: rgb(85, 104, 89);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-top: 20px;
    color: black;
    font-weight: bold;
}

.highlight2 {
    border: darkgray 2px solid;
    background-color: rgb(85, 104, 89);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-top: 5px;
    color: black;
    font-weight: bold;
}

.lasttest {
    font-style: italic;
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 20px;
}

.fourthcontent {
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 900px;
}

.button1 {
    border: white solid;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
}

.button2 {
    border: white solid;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
}

/* Imminent vs Eminent vs immanent */

.thirdcontentarticle2child {
    font-size: 1.2rem;
    text-decoration: underline;
}

.thirdcontentarticle2child3{
    display: flex;
}

.fourthcontentarticle2 {
    font-style: italic;
    color: darkgray;
    margin-top: 20px;
}

.fifthcontentarticle2child1 {
    font-size: 1.1rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.fifthcontentarticle2child2 {
    margin-top: 20px;
}

.fifthcontentarticle2child2i {
    text-decoration: underline;
}

.fifthcontentarticle2child3 {
    margin-top: 20px;
}