
.pack-sku {
  background-color: red;
  white-space: nowrap;
  transform: rotate(-90deg);
} 

.pack-card {
  background-color: brown;
} 

.pack {
  background-color: green;
  width: 100%;
} 

.packs-list {
  background-color: rgb(155, 74, 74);
} 

ul {
  display: block;
  list-style-type: none;
  list-style-position: inside;
  margin:0;
  padding:0;
}

li {
  display: flex;
  margin-bottom: 10px;
  padding:0;
  background-color: rgb(155, 74, 74);
}

.pack-card {
  display: flex;
}